


.horse1{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    
    
}
.time{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    height: 60px;
    background: rgba(73, 56, 87, 0.22)
}

.bold{
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.name{
    color: white;
    margin-top: 300px;
    background: rgba(73, 56, 87, 0.22);
    
    padding: 30px 10px;
    
}
.name h2{
    font-size: 35px;
    text-transform: uppercase;
}
.name h1{
    font-size: 95px;
    text-transform: uppercase;
    font-weight: 900;
}
.name p{
    font-size: 16px;
    
}

.time p.left {
    float: left;
    padding-top: 13px;
}
.time p.right {
    float: right;
    padding-top: 13px;
}











.offer-area {
    color: #413644
}

.offer-area h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0px;
    text-transform: uppercase
}

.offer-item {
    text-align: center;
    margin-bottom: 15px;

}

.offer-item img {
    width: 100%;
}

.offer-item p.price,
.offer-item span {
    font-weight: bold;
    font-size: 0.9em;
}

.text-price {
    padding-top: 8px;
    min-height: 110px;

}

.text-price :nth-child(1) {
    margin-bottom: 0px
}


.needs-call {

    margin-top: 180px;
}

.horse {
    background-image: url('../img/layer3.jpg');
    height: 672px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.needs-call h1 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #413644;
    font-family: 'Open Sans', sans-serif;
    line-height: 35px;
}

.phone {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #413644;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
}

.needs-call p {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    padding-top: 60px;
    color: #413644;
    line-height: 30px;
}

.needs-call vk {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    padding-top: 60px;
    color: #413644;
    line-height: 30px;
    text-decoration: underline;

}
a{
    color:#413644; 
}
a:hover {
    color: #939ac3;}
.vk{
    font-size: 28px;
}

.reviews p {
    border: 3px solid #837188;
    color: #413644;
    font-size: 14px;
    padding: 20px 30px;
    font-weight: 600;
    overflow: hidden;
    min-height: 250px;
}

.button {
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px 0px 30px 0px;
}

.btn-custom {
    background-color: #837188;
    border-color: #837188;
    color: white;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0px;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #aa97af;
    border-color: #aa97af;
    color: white;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #724b7c;
    border-color: #9980a0;
    color: white;
}

.map{
    background-image: url('../img/layer4.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.address h1{
    color: white;
     font-size: 30px;
    font-weight: bold;
    margin:25px 0px 10px 0px;
    text-transform: uppercase
}
.address p{
     color: white;
     font-size: 16px;
}
.footer{
    background-color:#393439;
    max-width: auto
}
.footer p{
    color: #faf2f2;
    font-size: 14px;
    font-weight: 400;
    margin: 10px;
}
.web{
    color: #f7f8fa; 
}

.footer p.left {
    float: left;
}
.footer p.right {
    float: right;
}

a.numberup{
    color: white;
}



@media screen and (max-width: 990px) {

    .reviews p {
        min-height: 350px;
    }
}
@media screen and (max-width: 768px) {
   
    .horse1{
        background-position: right;
    }
    .time p.left, .right{
        font-size: 15px;
        float: none;
        text-align: center;
        width:100%;
        margin: 0px;
        line-height: 15px;
        padding-top: 10px;
    
    }
    
    .bold{
        font-size: 17px;
    }
    .name{
        margin-top: 150px;
    }
    
    .name h1 {
        font-size: 50px;
    }
    .name h2 {
        font-size: 20px;
    }
    .name p {
        font-size: 15px;
    }
    .horse1 {
        height: 500px;
    }
    
    .text-price {
        min-height: 0px;
        line-height: 15px;
        margin-bottom: 10px;
        
    }
    
    .offer-area h1{
        font-size:20px;
        margin: 30px 0px;
        
    }
    .address h1{
        font-size:25px;
        margin: 20px 0px;
    }
    .offer-item img {
        width: 70%;
       
    }
    .overlay {
        z-index: 0;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        margin: 20px;
        padding: 20px;
    }
    .reviews p {
        min-height: 200px;
    }
    .needs-call {
        margin-top: 50px;
    }
    .needs-call h1 {
        font-size: 20px;
    }
    a.vk {
        font-size: 20px;
    }
    .needs-call p {
        font-size: 20px;
    }
    .horse {
        height: 500px;
    }
    .btn-custom {
        width: 200px;
        font-size: 16PX;
    }
    .footer p{
    font-size: 10px;
    }
    
     .footer p.left, .footer p.right {
        float: none;
        text-align: center;
    }
    /*параметры,придостижении размера экрана 768px;*/
    /*сделать марджины и размер текста для заголовков меньше для моб.версии*/
    /*переделать в фш задний фон карты*/
}