.col1 {
    background-color: red;
}

.col2 {
    background-color: green;
    height: 200px;
    padding-top: 50px;
}

.col3 {
    background-color: blue;
}

.container{
  height: 100vh;
}

.poloska{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    color: red;
}
